body{
    background-color: #000033;
    font-family: monospace;
    margin: 0px;
}

.header {
    width: 100%;
    height: 100px;
    align-items: center;
    border-bottom: 5px #32B9CD solid;
}

.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

.nav-title{
    color:#00AAAA;
    margin: 0px;
}

.navbar{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    /* list-style: none; */
}

.nav-item{
    color: #ffa500;
    font-weight: bold;
    text-decoration: none;
}

.nav-item:hover {
    color: #FF6500;
}

.nav-item:active {
    color: #FF3500;
}


.main-title {
    color: #800080;
    font-size: 30px;
    font-family: monospace;
}

.main-text {
    color: #555555;
}

p {
    color: #ffffff
}

.banner{
    height: 500px;
    background-image:url("imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .card {
    background-color: #ffffff;
    color: #DD0000;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    
}

.card .line{
    display: flex;
    justify-content: space-between;
    width: 93%;
}

.btn{
    background-color: #DD0000;
    color: #FFFFFF;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
}

input{
    height: 30px;
    border: 2px #DD0000 solid;
    border-radius: 6px;
}